{% extends 'base.html.twig' %}

{% block title %}Новая база{% endblock %}
{% form_theme form.places 'form/block_collection.html.twig' %}
{% block body %}

    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('user_index') }}">Базы</a> / Создание базы</div>
    </h4>
    
    <div class="card">
        <div class="card-body">
            {{ include('base/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
