{% extends 'base.html.twig' %}

{% block title %}Редактировать товар{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('app_product_index') }}">Товары</a> / Изменение товара #{{ product.id }}</div>
    </h4>

    <div class="card">
        <div class="card-body">
            {{ include('base/_form.html.twig', {'button_label': 'Сохранить'}) }}
        </div>
    </div>
{% endblock %}
