{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-primary" style="max-width: 200px">Сохранить</button>
        <a class="btn btn-default" href="{{ path('app_base_index', {id: 'base.id'}) }}">Отмена</a>
{{ form_end(form) }}
