{% extends 'base.html.twig' %}

{% block title %}Редактировать область{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('app_base_index') }}">Области</a> / Изменение области #{{ place.id }}</div>
        <a href="{{ path('app_overlace_edit', {id: place.id}) }}"><button class="btn btn-primary btn-lg rounded-pill d-block" id="saveOverlace">Макет на область</button></a>
    </h4>
    <div class="card">
        <div class="card-body">
        <div id="path-to-controller"></div>  
        
        {{ include('place/_form.html.twig', {'button_label': 'Сохранить'}) }}
        
        </div>
    </div>
{% endblock %}        

        


