<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">
    <!-- Brand demo (see assets/css/demo/demo.css) -->
    <div class="app-brand demo">
        <span class="app-brand-logo demo" style="background: #fff">
            {% include 'icons/logo.svg.twig' %}
        </span>
        <a href="{# path('main') #}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Control Panel</a>
        <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
        <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>
    <div class="sidenav-divider mt-0"></div>
    <!-- Links -->
    <ul class="sidenav-inner py-1">
    

    	<li class="sidenav-header small font-weight-semibold"></li>

  
        <li class="sidenav-item">
            <a href="{{ path('user_index') }}" class="sidenav-link">
                <i class="sidenav-icon ion ion-md-people "></i>
                <div>Пользователи</div>
            </a>
        </li>
    
        <li class="sidenav-item">
            <a href="{{ path('app_base_index') }}" class="sidenav-link">
                <i class="sidenav-icon ion ion-md-list-box"></i>
                <div>Базы</div>
            </a>
        </li>
    </ul>
</div>

